svg {
  width: 100%;
  height: 100%;
}

.flow-area-outer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background: aliceblue;
}
.flow-area-inner {
  width: 100%;
  height: 100%;

  & > svg {
    width: unset;
    height: unset;
  }
}

.flow-area-minimap {
  position: fixed;
  top: 50px;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
}
